extends layout

block title
    h2 Confirm delete user data
block content
    form#deleteForm(method="DELETE")
        div.group.invisible
            label(for="userId") UserId
            input(type="text" id="userId" name="userId" value= locals.id)
        button.submit(type="submit") Delete User data
        
block script
    script(src="/delete_user.js" type="module")