html
    head
        title Microblog Service
        link(href="/favicon.ico" rel="icon" type="image/x-icon")
        link(href="/style.css" rel="stylesheet")
        block headContent
    body
        div.navbar
            a(href="/") Home Page
            a(href="/my-posts") My Posts
            if !!(locals.userPermit)
                if locals.userPermit.role === "admin"
                    a(href="/users-list") Users List
            block title
            if !(locals.userPermit)
                a(href="/login") Login
                a(href="/signup") Signup
                //if !!(locals.userPermit)
            else if locals.userPermit.role === "user" || "admin"
                a(href="/logout") Logout
                a(href="/add-post") Add post
            if !!(locals.userPermit)
                if locals.userPermit.role === "admin"
                    a(href="/admin") Admin Service


        block content
        block script



