html
    head
        title Microblog Service
        link(href="/favicon.ico" rel="icon" type="image/x-icon")
        link(href="/style.css" rel="stylesheet")
        block headContent
    body
        div.navbar
            a(href="/pug") Home Page
            a(href="/pug/my-posts") My Posts
            if !!(locals.userPermit)
                if locals.userPermit.role === "admin"
                    a(href="/pug/users-list") Users List
            block title
            a(href="/pug/logout") Logout
            a(href="/pug/login") Login
            a(href="/pug/signup") Signup
            if !!(locals.userPermit)
                if locals.userPermit.role === "user" || "admin"
                    a(href="/pug/add-post") Add post
                if !!(locals.userPermit)
                    if locals.userPermit.role === "admin"
                        a(href="/pug/admin") Admin Service
        block content
        block script



