extends layout
block title
    h2 List of users

block content
    div#root
        table.mainTable
            each userItem in locals.usersList.reverse()
                thead
                    th.top-dash= `user name:`
                tbody
                    tr
                        th= userItem.username
                        tr
                            td
                                if userItem.role !== "admin"
                                    a.delete-comment(href=`/delete-user/${userItem.id}`)= "Delete user data"